// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main css
.css-container {
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.css-box-shadow {
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 10px;
}

@for $i from 1 through 100 {
    .css-fontSize#{$i} { font-size:#{$i}px!important; }
}

.css-w100 {
    width: 100%;
}